*{
    box-sizing: border-box;
}

:root{
    --sans:Oxygen,sans-serif
}
/*gradient*/
.gradient{
    background: rgb(255,23,228);
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%,rgba(143,251,251,1) 100%);
    height:2px;
}

body{
    background-color: rgb(14, 11, 19);
    color: aliceblue;
    font-family: var(--sans) ;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
h1,h2,h3 {
    margin: 0;
}

a{
    color: magenta;

}
a:hover{
    color: rgb(202, 43, 226);
    text-decoration: none;
}


/* navigation bar */

nav [class *= "fa-"] {
    font-size :150%;
    color : aqua


}
nav [class *= "fa-"]:hover{
    color: rgb(202, 43, 226);
}

nav h1 [class *= "fa-"] {
    font-size :100%;
    color : aqua


}

nav{
    font-family: monospace;
    font-size: 80%;

}

nav h1 a{
    font-family: sans-serif;
}

nav ul :first-child{
   flex-basis: 100%;
    text-align: center;
    margin-right: auto;
 
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 
    
}
nav a{
    color: aliceblue;
    text-decoration: none;
    display: block;
}



.button{
    background-color:rgb(202, 43, 226);
    padding: 0.5rem;
    border-radius: 7px;

}


.button:hover{
    color: aliceblue;
    background-color:  rgb(76, 3, 76);
}

/* intro styles*/

#intro{
    text-align: center;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}


#intro .name{
    font-family: monospace;

}

.name span{
    font-family: 'Lucida Sans';
    font-size: 4rem;
    color: aqua;
    display: block;

}

#intro h3{
    font-size: 4rem;
    font-weight: normal ;
}

/*Porfolio*/
.blue-sec{
    background-color: rgb(2, 40, 40);
    padding: 0;
    margin: 0;

}

#portfolio{
    padding: 4rem 1rem;
    max-width: 1200px;
}

.portfolio-title {
    font-size: 3rem;
    font-family: sans-serif;
    margin-bottom:calc(1rem * 1.5) ;
    margin: 0 0 1rem 0;
    padding-top: 2rem;
   text-align: center;
   
}

#portfolio h3{
    color: aqua;
}

#portfolio h4{
    font-size: 1rem;
    font-family: monospace;
    margin: 0;
}

#portfolio ul{
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    padding: 0;
    padding-top: 0.5rem;
    margin: 0;
    justify-content: flex-start;
    font-size: 1rem;

}



.black-box{
    background-color: black;
    padding: 1rem;
    border-radius: 25px;
    color: aliceblue;
    font-size: 1rem;
    line-height: 1.5;
}

img{
    margin-top: 2rem   ;
    margin-bottom: 2rem;
    border-left: 1px solid aqua;
    border-top:1px solid aqua;
    border-radius: 25px;
    padding: 1rem;
    width: 100%;
   
}

/*Contact row*/

#contact {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    height: 30rem;
    background-color:rgb(67, 2, 67);
    padding-top: 3rem;
}


#contact p{
    margin: 3rem;
    width: 450px;
}
.contact-title{
    font-size: 200%;

}
.mail-button{
    background-color:aqua;
    padding: 0.7rem;
    border-radius: 7px;
    width: 6em;

}

.mail-text{
    color: rgb(19, 10, 30);
    font-family: monospace;
    text-decoration: none;
    font-weight: bold;
}



/*footer section*/

footer{
    text-align: center; 
    padding: 3rem;

}

 

footer ul{
    list-style-type: none;
    justify-content: center;
    display: flex;
    gap: 3rem;
    padding: 0;
    margin: 0;
    font-size :150%;

}


small{
    font-family:monospace ;
}



@media (min-width: 900px){
    nav{
        max-width: 90%;
        margin: 0 auto;
   

    }
    nav ul :first-child{
        flex-basis: auto;
        text-align: right;

       
    }

    #intro{
        padding:6rem 1rem 10rem 1rem; /*TRBL  trouble*/
        max-width: 1200px;
        margin: auto ;
        text-align: start;
    
    }
    article{
        display: grid;
        grid-template-columns:repeat(10,1fr);
        gap: 0rem;
    }
    .article-text{
        order: 1;
        text-align: right;
        grid-column: 5/11;
        grid-row: 1/2;
        margin-left: 2rem;
        
    }

    .alt-text{
        justify-content: start;  
    }

    img{
        grid-column: 1/6;
        grid-row: 1/2;
        margin-left: 5% ;
       
    }
 
 

    #portfolio ul{
        justify-content: end;
    }

    .alt-text{
        order: 1;
        text-align: left;
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .alt-img{
        grid-column: 5/11;
        grid-row: 1/2;
        margin-right: 5%;
   
    }


    


    #portfolio{
        margin :  0 5% 0 5%;;
        padding:0;
    }

    article{
        margin-bottom: 2rem;
    }

    .portfolio-title {
    text-align: end;
    font-size: 3.5rem;
    margin-right: 4%;
    padding: auto 0 0 0;
 }


   

}


